@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: "Poppins";
  overflow: hidden;
  margin: 0;
}

a {
  text-decoration: none;
}

.chat-container {
  display: flex;
  height: 100vh;
  position: relative;
}

.chat-header {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: rgba(109, 109, 109, 0.3) solid 1px;
  border-bottom: rgba(109, 109, 109, 0.3) solid 1px;
  height: 80px;
  flex-grow: 1;
  margin-left: 210px;
  margin-right: 210px;
}

.left-panel, .right-panel {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border: rgba(109, 109, 109, 0.3) solid 1px;
  width: 210px;
  height: 100vh;
  position: fixed;
  z-index: 99;
}

.left-panel {
  left: 0;
}

.right-panel {
  right: 0;
}

.user-account {
  display: flex;
  border: rgba(109, 109, 109, 0.3) solid 1px;
  height: 200px;
}

.user-account i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  transition: .3s;
}

.user-account i:hover {
  color: rgba(255, 255, 255, 1);
}

.user-settings {
  display: flex;
  margin-top: 30px;
  margin-left: 15px;
}

.user-avatar {
  display: flex;
  width:  60px;
  height: 60px;
  border-radius: 50%;
}

.chats-heading {
  color: rgb(255, 255, 255);
  margin-left: 10px;
}

.user-settings-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 5px;
  background: rgba(217, 217, 217, 0.15);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.user-search {
  display: flex;
  align-items: center;
  width: 180px;
  height: 30px;
  background: rgba(217, 217, 217, 0.15);
  border-radius: 20px;
  margin-top: 125px;
  margin-left: -184px;
  padding: 5px;
}

.user-search i {
  color: rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
}

.search-input {
  background: none;
  outline: none;
  border: none;
  padding: 12px;
  color: white;
  font-size: 14px;
}

.chat-sidebar {
  border: rgba(109, 109, 109, 0.3) solid 1px;
}

.room-name {
  color: rgb(255, 255, 255);
  margin-left: 15px;
  margin-top: 15px;
}

.users-count {
  color: rgba(255, 255, 255, 0.3);
  margin-left: 15px;
  margin-top: 5px;
  line-height: 0;
}

.chat-form {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 210px;
  right: 210px;
  height: 42.5px;
}

.chat-form i {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 100px;
  margin-left: 12.5px;
  transition: .3s;
  cursor: pointer;
}

.chat-form i:hover {
  color: rgba(255, 255, 255, 1);
}

.msg {
  color: rgb(255, 255, 255);
  background: none;
  outline: none;
  border: none;
  width: 85%;
  padding: 12.5px;
  font-size: 14px;
}

.msg::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.chat-messages {
  padding: 30px;
  height: 75vh;
  overflow-y: scroll;
  font-size: 14px;
  margin-top: 80px;
}

.chat-messages .message {
  padding: 5px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(255, 255, 255);
  max-width: 500px;
  border-radius: 7.5px;
  overflow-wrap: break-word;
}

.chat-messages .message .nickname {
  font-size: 14px;
  font-weight: bolder;
  margin-top: 10px;
  margin-left: 10px;
  color: rgb(255, 255, 255);
}

.chat-messages .message .text {
  font-size: 14px;
  margin-left: 10px;
}

.chat-messages .message .time {
  font-size: 12px;
  color: rgb(255, 255, 255);
  margin-left: 89%;
  margin-bottom: -15px;
}

.chat-messages::-webkit-scrollbar {
  width: 7.5px;
}

.chat-messages::-webkit-scrollbar-track {
  border-radius: 5px;
} 

.chat-messages::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}